#contact {
    height: 50vh;
    border-bottom: 0.5px solid $color-secondary;
    text-align: center;
}

.contact-container{
    margin-right: 5%;


    .title {
        padding: 3%;
        margin-right: 5%;

        i{
            color: #F0DB4F;
            font-size: 2rem;
            margin-left: 1%;
        }
    }


}

.logos{
    margin-left:3%;
}



.container-logo{
    display: flex;
    justify-content: center;
    flex-direction: row;

    a {
        padding: 1% 2%;
        object-fit: cover;
    }

    i {
          color: $color-white;
          font-size: 50px;

        &:hover{
           
            color: $color-gold;
        }
    }



}