$color-primary:rgb(16, 14, 23);
//$color-secondary:rgb(30,30,30);
$color-secondary:#2d2d3d;
$color-gold: #ffc85c;
$color-blue:#032f62;
$color-black:#333;
$color-white:#ffff;
$colo-yellow:#f9d56e;
$bg-image:url('/img/back.svg');
$bg-image-all:url('/img/back_all.svg');


html {
    scroll-behavior: smooth;
}


* {
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Dosis',
        sans-serif;
    line-height: 1.6;
    background-color: $color-primary;
    color: #fff;
    text-align: left;
    text-decoration: none;
}
